asciitree==0.3.3
bioframe==0.6.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cooler==0.9.3
cooltools==0.7.0
cycler==0.12.1
Cython==3.0.10
cytoolz==0.12.3
dill==0.3.8
fonttools==4.51.0
h5py==3.11.0
idna==3.7
imageio==2.34.1
importlib_metadata==7.1.0
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.42.0
matplotlib==3.8.4
multiprocess==0.70.16
natsort==8.4.0
ncls==0.0.68
networkx==3.3
numba==0.59.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
packaging==24.0
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1712782051200/work
pillow==10.3.0
pyfaidx==0.8.1.1
pyparsing==3.1.2
pyranges==0.0.129
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.23.2
scikit-learn==1.4.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1714794088309/work/dist/scipy-1.13.0-cp311-cp311-linux_x86_64.whl#sha256=86daab6ba132f91936d65799f99a8b41d93d4e831ca6d8203a4836826e287f8c
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sorted-nearest==0.0.39
tabulate==0.9.0
threadpoolctl==3.5.0
tifffile==2024.5.3
toolz==0.12.1
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3==2.2.1
zipp==3.18.1
